:root {
  --background: #eff6ff;
  --calc-bg: #fcd34d;
  --btn-default-color: #0284c7;
  --btn-secondary-color: #7dd3fc;
  --btn-font-color: white;
  --btn-font-hover-color: #0c4a6e;
}

body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
  font-family: Verdana, sans-serif;
}


.calculator-container {
  width: 300px;
  height: fit-content;
  margin: .4em;
  background-color: var(--calc-bg);
  padding: .7em;
  border-radius: 10px;
  border: 5px solid var(--btn-secondary-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.screen {
  text-align: right;
  padding: .5em .3em;
  background-color: white;
  margin-bottom: .3em;
  font-size: 36px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btns-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  justify-content: center;
  align-content: center;
}

.c-eq-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 8px;
  margin-top: 10px;
}

.c-eq-btns button {
  width: 100%;
}

.btn {
  font-family: Verdana, sans-serif;
  min-width: 64px;
  height: 52px;
  font-size: 24px;
  width: 100%;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: var(--btn-default-color);
  color: var(--btn-font-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sign-btn {
  background-color: var(--btn-secondary-color);
}

.clear-btn {
  background-color: #1e40af;
}

.equals-btn {
  background-color: #e11d48;
}


.btn:hover {
  background-color: var(--btn-secondary-color);
  color: var(--btn-font-hover-color);
}

.equals-btn:hover {
  background-color: #be185d;
  color: var(--btn-font-color);
}

.clear-btn:hover {
  background-color: var(--btn-font-hover-color);
  color: var(--btn-font-color);
}


.sign-btn:hover {
  background-color: var(--btn-default-color);
  color: var(--btn-font-color);
}
